{% extends 'base.html.twig' %}
{% block body %}

    {% include "bip/header.html.twig" %}

<div class="container index-container">
    <div class="index-container">
        <div class="row">
            <div class="col-md-3">
               {% render(controller('AppBundle:BIP:menu', {'bip':bip.id})) %}
            </div>
                <div class="col-md-9">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Zarząd
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                            {% for org in organy %}
                                <li><a><h3>{{ org.organ }}</h3></a></li>
                                <div id="za{{org.id}}" class="">
                                    <ul class="list-group">
                                        {% for guy in org.members %}
                                            <li class="list-group-item">{{guy.firstname}} {{guy.lastname}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="panel-footer">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}