<header id="header" role="banner">
	<div class="container">
		<div class="navbar">
			<a href="#" class="pull-left navbar-brand">
				<img style="max-width: 60px; margin-top: -10px;" src="{{ asset('img/bip.png') }}"></a>
		</div>
	</div>
</header>