{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}
{% block body %}

    {% include "user/header.html.twig" %}

{#<div class="fos_user_user_show">#}
    {#<p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>#}
    {#<p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>#}
{#</div>#}
    <div class="container index-container" style="z-index: 1;">
      <div class="index-container">
        <div class="row">
            <div class="col-md-3">
               {% render(controller('AppBundle:BIP:menu', {'bip':bip.id})) %}
            </div>
            <div class="col-md-9">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7">

                            </div>
                            <div class="col-md-5">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
{% endblock %}
