{% extends 'base.html.twig' %}
{% block body %}

    {% include "user/header.html.twig" %}

    <div class="container index-container">
        <div class="index-container">
            <div class="row">
                <div class="col-md-3">
                    {% render(controller('AppBundle:BIP:menu', {'bip':bip.id})) %}
                </div>
                <div class="col-md-9">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            {{ article.title }}
                        </div>
                        <div class="panel-body">
                            {{ article.content|raw }}
                                {% if sections %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            READ MORE
                                        </div>
                                        <div class="panel-body">
                                            <ul class="list-group">
                                            {% for sec in sections %}
                                                <a class="list-group-item" href="{{ path('admin_view_article', {'bip':bip.id, 'art':sec.id}) }}">{{ sec.title }}</a>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
