body, .index-container {
    background-color: #fff2f2;
}

.list-group-item{
	border: 0px;
	margin-left:0;
	padding:0;
	padding-left: 2.3em;
}

.panel-heading, .panel-default, .panel{
	border: 0px;
	background-color: none;
}

/*.list-group > .list-group-item > a:hover{
	background-color: #E0B2B2;
	color: white;
	-webkit-transition: 300ms;
    -moz-transition: 300ms;
    transition: 300ms;
}*/

.nazwa{
	margin-bottom: 0.6em;
	font-weight: 400;
	font-size: 1.3em;
}

.lista{
	margin-top: 1em;
}