a {
  color: #331A1A;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;  
}
.navbar-brand-name > {
  display: inline-block;
  float: left;
  margin:0;
  padding:30px 25px;
}
.navbar-brand-name > img {
  display: inline-block;
  float: left;
  margin-right: 1.2em
}
a:hover,
a:focus {
  color: #331A1A;
  text-decoration: none;
  outline: none;
}
#header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 9999 ;
  overflow: visible;
}
.fa{
  margin:0;
  padding:0;
  margin-right:0.5em;
}

.navbar-default {
  background: #fff;
  border-radius: 0 0 5px 5px;
  border: 0;
  padding: 0; 
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  overflow: hidden;
}
.navbar-default .first a {
  border-radius: 0 0 0 5px;
}
.navbar-brand {
  margin-right: 50px;
  margin-left: 20px;
  width: 200px;
  height: 78px;
}
.dropdown{
  z-index: 99999999999999999999999999999999999999;
}

.navbar-default .navbar-nav > li {
  margin-left: 1px;
}
.navbar-default .navbar-nav > li > a {
  padding: 30px 25px;
  font-size: 17px;
  line-height: 18px;
  color: #E0B2B2;
}
.navbar-default .navbar-nav > li > a > i {
  display: inline-block;
}
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:focus > a,
.navbar-default .navbar-nav > li:hover > a:focus,
.navbar-default .navbar-nav > li:focus > a:focus {
  background-color: #E0B2B2;
  color: #fff;
}
.navbar-default .navbar-nav > li.active:focus > a:focus,
.navbar-default .navbar-nav > li.active:hover > a:focus,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:focus > a,
.navbar-default .navbar-nav > li.active:hover > a{
  font-weight: bold;
  background-color: #E0B2B2;
  color: #fff;
  font-size: 18px;
}